<div class="mt-4 main">
  <form [formGroup]="portfolioForm" (submit)="onSubmit(portfolioForm.value)">
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="slug">Slug</label>
        <input
          formControlName="slug"
          id="slug"
          type="text"
          class="form-control"
          placeholder="Slug*"
        />
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="nick_name">Nick Name</label>
        <input
          formControlName="nick_name"
          id="nick_name"
          type="text"
          class="form-control"
          placeholder="Nick Name*"
        />
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="location">Location</label>
        <input
          formControlName="location"
          id="location"
          type="text"
          class="form-control"
          placeholder="Location*"
        />
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <label for="country">Country</label>
        <input
          formControlName="country"
          id="country"
          type="text"
          class="form-control"
          placeholder="Country*"
        />
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="fb_link">Facebook Link</label>
        <input
          formControlName="fb_link"
          id="fb_link"
          type="text"
          class="form-control"
          placeholder="Facebook url link*"
        />
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="instagram_link">Instagram Link</label>
        <input
          formControlName="instagram_link"
          id="instagram_link"
          type="text"
          class="form-control"
          placeholder="Instagram url link*"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="twitter_link">Twitter Link</label>
        <input
          formControlName="twitter_link"
          id="twitter_link"
          type="text"
          class="form-control"
          placeholder="Twitter url link*"
        />
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="share_link">Share Link</label>
        <input
          formControlName="share_link"
          id="share_link"
          type="text"
          class="form-control"
          placeholder="Share url link*"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="about">About</label>
        <textarea
          formControlName="about"
          id="about"
          rows="4"
          class="form-control"
          placeholder="About*"
        ></textarea>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="description">Description</label>
        <textarea
          formControlName="description"
          id="description"
          rows="4"
          class="form-control"
          placeholder="Description*"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="card_img">Card Image</label>
        <input
          formControlName="card_img"
          id="card_img"
          type="file"
          class="form-control"
        />
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <label for="banner_img">Banner Image</label>
        <input
          formControlName="banner_img"
          id="banner_img"
          type="file"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <button class="btn btn-lg btn-success mb-4" type="submit">Edit</button>
      </div>
    </div>
  </form>
</div>
